
:root{
  --bgcolor:#04b4e0
}
.rootLayout{
  display: flex;
  /*animation-name: rootLayout-anim ;
  animation-duration: 2s;*/
}
.baselayout{
  background-color: var(--bgcolor);
  width: 100%;
  border-radius: 30px;
  display: flex;
}

@keyframes rootLayout-anim {
  from {
    transform: scale(0,0);
  }
  to {
    transform: scale(1,1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.info{
  padding: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  transform:  translate3d(0,0,0);
  transition: background-color .2s linear,opacity .2s linear;;
}


.text{
  color: black;
}
.titletext{
  text-transform: uppercase;
  color: black;
  font-size: 51px;
  font-weight: 700;
}
.titletext::before {
  content: "";
  display: block;
  border-top: 1px solid black;
  margin-bottom: 10px;
  width: 80px;
}
  